

.area_lateral{
	-fx-background-color: #bfbfbf;
	-fx-text-fill: black;
}

.btn_lateral{
	 -fx-text-fill: black;
}

.btn_lateral:hover{
	 -fx-background-color: #fff;
	 -fx-text-fill: #000;
}

.area_fundo{
	-fx-background-color: #fff;
}

.erro { 
    -fx-fill: #d54848; 
}

.normal{
	-fx-fill: black; 
}

.area_central{
	-fx-background-color: #bfbfbf;
}

.bt_exec{
	-fx-fill: #047b2e;
}

.bt_code{
	-fx-fill: #ff6600;
}

.bt_debug{
	-fx-fill: #057f94;
}

.area_inicio{
	-fx-background-color: #fff;
	-fx-text-fill: black;
}

.btn_lateral_inicio{
	-fx-border-color: black;
	-fx-background-color: #404040;
	-fx-border-radius: 5 9 5 5; 
	-fx-background-radius: 5 9 5 5;
}

.btn_lateral_inicio:hover{
	-fx-background-color: #262626;
}

.label_logo{
	-fx-text-fill: black;
}
.circulo_logo{
	-fx-fill: #fff;
}

/*ESTILO DA AREA DE TEXTO */
.styled-text-area {
    /* set the entire area's font size to the given size */
    -fx-font-family: Consolas;
   -fx-font-size: 16; 
   -fx-font-weight: bold; 
   -fx-background-color:  #fff; 
   -fx-border-color:  #fff;
}

.styled-text-area .line-highlighter { 
	-fx-fill: #d9d9d9;
}

/*ESTILO DOS NUMEROS DE LINHA */
.lineno{
   -fx-font-family: Consolas;
   -fx-background-color:  #fff;
   -fx-font-size: 8;
   -fx-fill: #808080;
   -fx-text-fill: #808080;
   -fx-alignment: center;
   
}

 .lineno .text{
   -fx-font-size: 16;
}

.background {
    -fx-background-color: #5c6770;
}

/* ------------ */

.styled-text-area .text{
    -fx-fill: black; 
}

.styled-text-area .caret {
    -fx-stroke: black;
}

.styled-text-area .text.keyword {
    -fx-fill: #0f83d7;
    -fx-font-weight: bold;
}

.styled-text-area .text.type {
	-fx-fill: #f0960f;
}

.styled-text-area .text.texto { 
    -fx-fill: #ed3232; 
}

.styled-text-area .text.semicolon {
    -fx-font-weight: bold;
}

.styled-text-area .text.paren {
    -fx-fill:  #22aa8f;
    -fx-font-weight: bold;
}

.styled-text-area .text.bracket {
    -fx-fill:  #22aa8f;
    -fx-font-weight: bold;
}

.styled-text-area .text.brace {
    -fx-fill: #22aa8f;
    -fx-font-weight: bold;
}

.styled-text-area .text.string {
    -fx-fill: #360036;
}

.styled-text-area .text.comment {
	-fx-fill: #808080;
}

/* */
.styled-text-area .text.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}


.styled-text-area .text.type {
	-fx-fill: #f0960f;
}

.styled-text-area .text.atr {
	  -fx-fill:  #22aa8f;
    -fx-font-weight: bold;
}

.styled-text-area .text.test { /*para testar os matchs do highlighter */
	 -fx-fill:  red;
}

.styled-text-area .text.default {
   -fx-fill: white; 
}


/* ------------ */
.keyword {
    /*-fx-fill: #f4b350;*/
    -fx-fill: #0f83d7;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-weight: bold;
}

.paren {
    -fx-fill:  #36D7B7;
    -fx-font-weight: bold;
}

.bracket {
    -fx-fill:  #36D7B7;
    -fx-font-weight: bold;
}

.brace {
    -fx-fill: #36D7B7;
    -fx-font-weight: bold;
}

.string {
    -fx-fill: #360036;
}

.comment {
	-fx-fill: #aeb5b1;
}

/*
.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}
*/
.type {
	-fx-fill: #f4b350;
}

.atr {
	  -fx-fill:  #36D7B7;
    -fx-font-weight: bold;
}
.test { /*para testar os matchs do highlighter */
	 -fx-fill:  red;
}

.texto { 
    -fx-fill: #ed3232; 
}

.default {
   -fx-fill: white; 
}