
/*ESTILO DA AREA DE TEXTO */
.styled-text-area {
    /* set the entire area's font size to the given size */
    -fx-font-family: Consolas;
   -fx-font-size: 18; 
   -fx-font-weight: bold; 
   -fx-background-color: #292a2c; 
   -fx-border-color: #292a2c;
   -fx-fill: red;
}


.erro { 
    -fx-fill: #d54848; 
}

.normal{
	-fx-fill: white; 
}