
.styled-text-area {
    /* set the entire area's font size to the given size */
   -fx-font-size: 24.0; 
   -fx-font-weight: bold; 
   -fx-background-color: #5c6770; 
   -fx-border-color: #5c6770;
}

.styled-text-area .line-highlighter { 
	-fx-fill:#7D858D;
}

.lineno{
   -fx-background-color: #5c6770;
   -fx-font-size: 24.0;
   -fx-fill: black; 
}

.lineno .text{
   -fx-fill: white; 
}

.background {
    -fx-background-color: #5c6770;
}

.texto { 
    -fx-fill: #ed3232; 
}

.reservadas{
    -fx-fill: #44aaf2;
}

.variaveis{
	-fx-fill: black; 
}

.constantes{
    -fx-fill: #0BD69D;
}

.tipos{
    -fx-fill: orange;
}

.marcador{
    -fx-fill: lime;
}

.comentario{
	-fx-fill: #aeb5b1;
}
